
venv/
env/
.venv/
.env/
__pycache__/
*.pyc
*.pyo
*.pyd
.idea/
.vscode/
*.sublime-workspace
*.sublime-project
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
Desktop.ini
*.log
*.env
*.ini
*.bak
*.sqlite3
*.sqlite
*.db
.ipynb_checkpoints
docker-compose.override.yml
docker-compose.yml
.coverage
nosetests.xml
coverage.xml
*.cover
*.pdf
*.docx
*.xlsx


